body{
  height: 100vh;
}

.checkbox.cr {
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1em;
  height: 1em;
  margin-top: .5em;
  margin-right: .5em;
}

/* .container{
  -webkit-box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.75);
} */
