html
  head
    title= title
  body
    .card
      .card-body
        form
          .form-group
            label.col-form-label(for='recipient-name') Login:
            input#recipient-name.form-control(type='text')
            label.col-form-label(for='recipient-name') Password:
            input#recipient-ip.form-control(type='text')
            //- label.col-form-label(for='recipient-name') Redirect:
            //- input.checkbox.cr.ml-2(type='checkbox' width = "15" height = "15")
          
        button.btn.btn-success.float-right(type='button' onclick = 'add_files()') Добавить
